<h1 class='title'>Lukas Merkle</h1>
<a href="https://www.linkedin.com/in/lukas-merkle/">LinkedIn</a><br>
<span class='subtitle'>I am currently getting my Master's degree in Robotic Systems Development at Carnegie Mellon University and will be graduating in May 2020. Through my education, I have gained the ability to design and implement robotic system involving hardware as well as software and I would like to apply and extend these skills in a full time position.<br>
During my bachelor in Mechanical Engineering at the University of Arizona, I learned the basic skills to design such systems through extensive coursework in dynamics, CAD, controls and programming. I have also gained hands-on experience through projects, one of which is shown below.<br>
I have then decided to earn my master's degree at the Robotics Institute at Carnegie Mellon University and to focus more on the software part of robotics. I have been and still am deepening my knowledge in key areas, such as Computer Vision, Planning and Controls, and apply it in hands-on projects.</span><br>
<hr>
