<!DOCTYPE html>
<html>


{{ partial "header.html" . }}

<body>
    <div class="content" id="content">
        {{ partial "top-bar.html" . }}
      <p> Below are some of my projects that I am thrilled to share with you. Feel free to browse through all the available descriptions and media.</p>

            {{ $pag := .Paginate (where .Data.Pages "Type" "project") }}
            <div class="container no-padding"><div class="row">
                
            {{ range $pag.Pages }}
                {{ partial "project-stub.html" . }}
            {{ end }}
                </div></div>
        </div>
    </div>
</body>

</html>
